<div class="container">
    <div class="row mx-0 text-center ">
        <div class="col-12 header"> Disponibilités </div>
        <hr class="hrPerso">
    </div>
    <p class="lead text-center phrase">{{this.nomFilm}}</p>
    <table class="table table-striped table-hover my-5">
        <tbody>
            <ng-container *ngFor="let _ of this.lesDispo; let index = index" >
                <tr *ngIf="index % 3 == 0">
                    <td [ngClass]="{'notDispo': this.lesDispo[index].dispo == false }" (click)="selectLocationDate(this.lesDispo[index])" *ngIf="index + 1 < this.lesDispo.length">{{this.lesDispo[index].start}} - {{this.lesDispo[index].end}}</td>
                    <td [ngClass]="{'notDispo': this.lesDispo[index+1].dispo == false }" (click)="selectLocationDate(this.lesDispo[index + 1])" *ngIf="index + 2 < this.lesDispo.length">{{this.lesDispo[index + 1].start}} - {{this.lesDispo[index + 1].end}}</td>
                    <td [ngClass]="{'notDispo': this.lesDispo[index+2].dispo == false }" (click)="selectLocationDate(this.lesDispo[index + 2])" *ngIf="index + 3 < this.lesDispo.length">{{this.lesDispo[index + 2].start}} - {{this.lesDispo[index + 2].end}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <div *ngIf="this.printError;then error"></div>
    <ng-template #error>
        <app-error-template [printError]="printError" [errorConnexion]="errorConnexion" [errorMessage]="errorMessage"></app-error-template>
    </ng-template>
</div>

