<div class="container">
    <h2 class="text-center titre">Disponibilités</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Mois actuel</th>
                <th scope="col">Mois actuel + 1</th>
                <th scope="col">Mois actuel + 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>semaine n°x</td>
                <td>semaine n°x</td>
                <td>semaine n°x</td>
            </tr>
        </tbody>
    </table>
</div>

