footer {

    flex-shrink: 0;
    width: 100%;
    
}
div.copyright {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: "BalooTamma";
}

div.contact {
    margin-bottom: 1%;
}

.img-row {
    height : 5rem;
}

