<footer class="text-center text-lg-start bg-light text-muted">
    <div class="text-center p-4 copyright">
        <div class="row img-row mb-4">
            <div class="col-5"></div>
            <div class="col-2 h-100"><img class="h-100" src="assets/LOGOJGL.png"></div>
            <div class="col-5"></div>
        </div>
        <div class="contact">
            contact@jean-guy-mail.com - 02.98.37.89.56
        </div>
        <div>
            © 2019-2021 . JeanGuyLoc . Tout droit réservés. 
            <a class="text-reset fw-bold" href="#">Mentions légales</a>
        </div>
    </div>
</footer>
