.compteur {
  height : 15rem;
  background-color: #FABD4B;
  opacity: 0.8;
}

.value {
  font-family:  "BalooTamma";
  font-weight: 800;
  font-size : 4.5rem;
  color : white;
}


.valueAttr {
  font-family:  "BalooTamma";
  font-weight: 500;
  font-size : 1.5rem;
  color : white;
}
