<div class = "row mb-5 mx-0 text-center justify-content-md-center compteur">
    <div class="col-3 bd-highlight pb-3 d-flex flex-column align-self-center" >
        <div class="row align-items-center ">
            <div class="col value" > {{this.statsAccueil.nbUser}} </div>
            <div class="w-100"></div>
            <div class="col valueAttr" > Inscrits </div>
        </div>
    </div>
    <div class="col-3 bd-highlight pb-3 d-flex flex-column align-self-center" >
        <div class="row align-items-center ">
            <div class="col value" > {{this.statsAccueil.nbFilms}} </div>
            <div class="w-100"></div>
            <div class="col valueAttr" > Films disponibles </div>
        </div>
    </div>
    <div class="col-3 bd-highlight pb-3 d-flex flex-column align-self-center" >
        <div class="row align-items-center ">
            <div class="col value" > {{this.statsAccueil.nbFilmLoueAnnee}} </div>
            <div class="w-100"></div>
            <div class="col valueAttr" > Films loués en 2021 </div>
        </div>
    </div>
    <div class="col-3 bd-highlight pb-3 d-flex flex-column align-self-center" >
        <div class="row align-items-center ">
            <div class="col value" > {{this.statsAccueil.nbFilmMoisDernier}} </div>
            <div class="w-100"></div>
            <div class="col valueAttr" > Films loués en février </div>
        </div>
    </div>
</div>
