<button type="button" class="btn btn-lg" data-bs-toggle="collapse" data-bs-target="#collapseDate" role="button" aria-expanded="false">
    Date
</button>
<div class="collapse show" id="collapseDate">
    <div class="card card-body">
      <div>
        <input type="checkbox" id="scales" name="scales">
        <label for="scales">Date 1</label>
      </div>
      <div>
        <input type="checkbox" id="scales" name="scales">
        <label for="scales">Date 2</label>
      </div>
    </div>
</div>