<button type="button" class="btn btn-lg" data-bs-toggle="collapse" data-bs-target="#collapseGenre" role="button" aria-expanded="false">
    Genre
</button>
<div class="collapse show" id="collapseGenre">
    <div class="card card-body">
        <div>
            <input type="checkbox" id="scales" name="scales">
            <label for="scales">Genre 1</label>
        </div>
        <div>
            <input type="checkbox" id="scales" name="scales">
            <label for="scales">Genre 2</label>
        </div>
    </div>
</div>
