<form id="inscription-block">
    <div id="title-form">
        <h2 class="text-center">Inscrivez-vous</h2>
    </div>
    <div id="form-elem">
        <div class="form-group">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nom d'utilisateur">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Mot de passe">
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-secondary btn-lg">Inscription</button>
        <p class="font-weight-light">
            En continuant, vous confirmez que vous acceptez les 
            <a routerLink="#"  routerLinkActive="active">Politiques de confidentialités</a>
        </p>
    </div>
</form>