<div id="top-block">
    <h2 class="text-center titre">Liste des films</h2>
    <nav class="nav nav-pills nav-justified">
        <a routerLink="#" class="menuItem nav-item nav-link">Documentaires</a>
        <a routerLink="#" class="menuItem nav-item nav-link">Films pour enfants</a>
        <a routerLink="#" class="menuItem nav-item nav-link">Films en DVD</a>
        <a routerLink="#" class="menuItem nav-item nav-link">Films en téléchargement</a>
    </nav>
</div>
<div class="row">
    <div class="col-2">
        <app-filter></app-filter>
    </div>
    <div class="col">
        <div class="container">
            <div *ngFor="let film of listeFilms">
                <div class="row">
                    <div class="col-2">
                        <div class="row">
                            <div class="col">
                                <img [src]="film.lienImage" class="img-thumbnail" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 stars-block" *ngFor="let n of [].constructor(this.getNbStarGold(film.notes))">
                                <img class="star_img" src="../../../assets/star.png" />
                            </div>
                            <div class="col-2 stars-block" *ngFor="let n of [].constructor(5 - this.getNbStarGold(film.notes))">
                                <img class="star_img" src="../../../assets/star_black.png" />
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row h-25">
                            <p>{{film.titre}}</p>
                        </div>
                        <div class="row h-75">
                            <div class="col">
                                <p>{{film.synopsis}}</p>
                            </div>
                            <div class="col">
                                <div class="row h-50">
                                    <a routerLink="/films/voirFilm/{{film.idFilm}}">
                                        <button type="button" class="btn btn-outline-dark btn-lg btnco">Voir</button> 
                                    </a>
                                </div>
                                <div class="row h-50">
                                    <a routerLink="#">
                                        <button type="button" class="btn btn-outline-dark btn-lg btnco">Louer</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>