<div id="top-block">
    <h2 class="text-center titre">Liste des films</h2>
    <nav class="nav nav-pills nav-justified">
        <a routerLink="#" class="menuItem nav-item nav-link">Documentaires</a>
        <a routerLink="#" class="menuItem nav-item nav-link">Films pour enfants</a>
        <a routerLink="#" class="menuItem nav-item nav-link">Films en DVD</a>
        <a routerLink="#" class="menuItem nav-item nav-link">Films en téléchargement</a>
    </nav>
</div>
<div class="row mx-auto">
    <div class="col-2">
        <app-filter (filterGenre)="filterGenre($event)" (filterNote)="filterNote($event)"></app-filter>
    </div>
    <div class="col mt-5">
        <div class="container">
            <div *ngFor="let film of listFilmsToPrint">
                <div class="row mt-4">
                    <div class="col-2">
                        <div class="row">
                            <div class="col">
                                <img [src]="film.lienImage" class="img-thumbnail" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 stars-block" *ngFor="let n of [].constructor(film.moyenne)">
                                <img class="star_img" src="../../../assets/star.png" />
                            </div>
                            <div class="col-2 stars-block" *ngFor="let n of [].constructor(5 - film.moyenne)">
                                <img class="star_img" src="../../../assets/star_black.png" />
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row h-25">
                            <p class="titreFilm">{{film.titre}}</p>
                        </div>
                        <div class="row h-75">
                            <div class="col-6">
                                <p>{{film.synopsis}}</p>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-5">
                                <div class="row h-75 py-4">
                                    <a routerLink="/films/voirFilm/{{film.idFilm}}">
                                        <button type="button" class="btn btn-outline-dark btn-lg btnco px-5">Voir</button> 
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="me-5 mx-5 my-3">
            </div>
        </div>
    </div>
</div>