<div class="container my-5">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            
        <div class="card mx-5">
            <a routerLink="rendufilm"  routerLinkActive="active">
                <div class="card-body">
                <h5 class="card-title header text-center"> Rendu des films</h5>
                <hr class="hrPerso">
                <p class="card-text text-center">Permet de mettre à jour le statut de locations des films loués physiquement par un de nos adhérents.</p>
                <p class="card-text text-center">Attention, la validation d'un rendu entraine la disponibilité de celui-ci à autrui. Merci de ne pas libérer un film étant loué.</p>
                </div>
            </a>
        </div>
        </div>
        <div class="col">
        <div class="card mx-5">
            <a routerLink="gestion-film"  routerLinkActive="active">
                <div class="card-body">
                <h5 class="card-title header text-center"> Création de film </h5>
                <hr class="hrPerso">
                <p class="card-text text-center">Permet de renseigner un nouveau film disponibles à la location par nos adhérents. </p>
                </div> 
            </a>
        </div>
        </div>
        <div class="col">
        <div class="card mx-5">
            <a routerLink="liste-film"  routerLinkActive="active">
                <div class="card-body">
                <h5 class="card-title header text-center">Liste de films</h5>
                <hr class="hrPerso">
                <p class="card-text text-center"> Liste l'ensemble des films recensé au sein de notre base de données de locations. Permet la gestion de ces derniers.</p>
                <p class="card-text text-center"> Attention toutes modification ou suppression est irréversible. </p>
                </div>
            </a>
        </div>
        </div>
        <div class="col">
        <div class="card mx-5">
            
            <div class="card-body">
                <h5 class="card-title header text-center">Gestion utilisateurs</h5>
                <hr class="hrPerso">
                <p class="card-text text-center">Permet l'administration de l'ensemble des adhérents.</p>
            </div>
        </div>
        </div>
    </div>
</div>