<div class="container">
    <div class="row mx-0 text-center ">
        <div class="col-12 header"> Renseignements </div>
        <hr class="hrPerso">
    </div>


    <div class="row mb-5 ">
        <div class="col-5">
            <div class="col-12 subheader"> Nous contacter </div>
            <hr class="hrSubPerso">
        
            <form>
                <div class="form-group my-1">
                    <label class="formFont mx-2" for="Nom">Nom</label>
                    <input type="text" class="form-control mt-1" id="Nom" placeholder="Nom">
                </div>
                <div class="form-group my-1">
                    <label class="formFont mx-2" for="Prenom">Prenom</label>
                    <input type="text" class="form-control mt-1" id="Prenom" placeholder="Prenom">
                </div>
                <div class="form-group my-1">
                    <label class="formFont mx-2" for="Email">Email</label>
                    <input type="email" class="form-control mt-1" id="Email" placeholder="Email">
                </div>
                <div class="form-group my-1">
                    <label class="formFont mx-2" for="Message">Message</label>
                    <textarea class="form-control mt-1" id="Message" rows="5" placeholder="Message ..."></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-lg btn-outline-secondary mt-4">Envoyer</button>
                </div>
                
            </form>
        
        
        </div>
        <div class="col-2">

        </div>
        <div class="col-5">
            <div class="col-12 subheader"> Où nous trouver </div>
            <hr class="hrSubPerso">

            <iframe class="mt-5" scrolling="yes"  marginheight="0" marginwidth="0" id="" src="https://maps.google.com/maps?width=1300&amp;height=300&amp;hl=en&amp;q=74%20Bd%20de%20l'Atlantique%20%20Le%20Pouliguen+(Jean%20Guy%20Loc)&amp;t=p&amp;z=8&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="400" height="400" frameborder="0"></iframe>
        </div>

    </div>
</div>