
  <div class="row mx-0 text-center ">
    <div class="col-12 header"> Derniers films </div>
    <hr class="hrPerso">
  </div>
  <div class="row mx-auto my-auto justify-content-center mb-5">
    <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
      <!-- <div class="carousel-indicators">
        <button type="button" *ngFor="let film of films; let j = index" data-bs-target="#recipeCarousel" [ngClass]="{'active' : j == 0}" [attr.aria-current]="j == 0 ? true : false" [attr.data-bs-slide-to]="j" [attr.aria-label]="j" ></button>
      </div> -->
        <div class="carousel-inner" role="listbox">


          <div *ngFor="let film of films; let i = index" class="carousel-item" [ngClass]="{'active' : i == 0}">
            <div class="col-md-2">
              <div class="card">
                  <div class="card-img">
                      <img [src]="film.lienImage" class="img-fluid">
                      <div class="card-img-overlay">
                        <div class="titreFilm">
                        {{film.titre}}
                        </div>
                      </div>
                  </div>
                  
              </div>
            </div>
          </div>
          


        </div>
        <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
          <div class = "bg">
            <span class=" prev carousel-control-prev-icon" aria-hidden="true"></span>
          </div>  
         
        </a>
        <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
          <div class = "bg">  
            <span class="next carousel-control-next-icon" aria-hidden="true"></span>
          </div>
        </a>
    </div>
</div>



  
