

img {
    margin: auto;
    width: 400px !important;
    height: 400px;
    object-fit: fill;
} 

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
  }
  
  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    display: flex;
  }
  
  /* medium and up screens */
  @media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(16.67%);
        
      
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-16.67%);
      
    }
  }
  
  .carousel-inner .carousel-item-end,
  .carousel-inner .carousel-item-start { 
    transform: translateX(0);
    
  }


  .card {
      border :none;
  }

  .card-img-overlay{
    
    text-align: center !important;
    vertical-align: center !important;
    padding: 0 5% 0 5% !important;
    display :none;
  }
  .titreFilm{
    top: 50% !important;
    font-family: "BalooTamma";
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0 5% 0 5% !important;
    width : 100%;
    position: relative;
   color: white;
  }

  .card:hover .card-img-overlay {
    display: block; 
    background-color: rgba(50,50,50,0.50);
  }

  .carousel-control-next, .carousel-control-prev {
    width: 5rem !important;
  }

  .bg .prev {
    width: 100% !important;
    height: 100% !important;
    background-repeat: no-repeat!important;
    background-position: 35% !important;
    background-size: 70% !important;
  }

  .bg .next {
    width: 100% !important;
    height: 100% !important;
    background-repeat: no-repeat!important;
    background-position: 65% !important;
    background-size: 70% !important;
  }

.bg {
    background-color: black;
    opacity: 1 !important;
    z-index: 2;
    width: 3rem;
    height: 3rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}


.header {
  height : 3rem;
  font-weight: bold;
  font-family: "BalooTamma";
  font-size : 2rem;
  margin-top: 1.25rem;
}

.hrPerso {
  width: 100px;
  margin: 0 auto 1.5rem auto;
  color: #e6ae44;
  height: 3px;
  opacity: 1;
}