<div id="top-page-block">
    <h1 class="text-center titre" (click)="goMenu()"><span class="Maj">J</span><span class="titreColor">ean</span>  <span class="Maj"> G</span><span class="titreColor">uy</span>  <span class="Maj"> L</span><span class="titreColor">oc</span></h1>
    <p class="lead text-center phrase">Pas de Jean Guy sous roche</p>
</div>
<div *ngIf="printMenu()">
    <nav class="nav nav-pills nav-justified">
        <a routerLink="/films"  routerLinkActive="active" class=" menuItem nav-item nav-link">Nos films</a>
        <a routerLink="/liste-films/films-a-venir" class="menuItem nav-item nav-link">Films à venir</a>
        <a routerLink="/nous/renseignements" class="menuItem nav-item nav-link">Renseignements</a>
        <a routerLink="/connexion" class="menuItem nav-item nav-link">Se connecter</a>
        <!-- Les liens ne fonctionne pas car les routes ne sont pas créer -->
    </nav>
</div>
<div *ngIf="!printMenu()">
    <hr>
</div>