<div id="top-page-block">
    <h1 class="text-center" (click)="goMenu()">Jean Guy Loc</h1>
    <p class="lead text-center">Phrase d'accroche</p>
</div>
<div *ngIf="printMenu">
    <nav class="nav nav-pills nav-justified">
        <a routerLink="/liste-films/nos-films"  routerLinkActive="active" class="nav-item nav-link">Nos films</a>
        <a routerLink="/liste-films/films-a-venir" class="nav-item nav-link">Films à venir</a>
        <a routerLink="/nous/renseignements" class="nav-item nav-link">Renseignements</a>
        <a routerLink="/connexion" class="nav-item nav-link">Se connecter</a>
        <!-- Les liens ne fonctionne pas car les routes ne sont pas créer -->
    </nav>
</div>
<div *ngIf="!printMenu">
    <hr>
</div>