div.container-vue {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 4%;
}

button.btn {
    width: 100%;
}

div.stars-block {
  padding-left: 10% !important;
}

img.star_img {
  height: 1.5rem;
  width: 1.5rem;
}

div.option {
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: 1%;
  margin-bottom: 3%;
}

div.block {
  padding-top: 2%;
  padding-bottom: 2%;
}

div.block.center {
  border-right: 1px solid;
  border-left: 1px solid;
}

div.comment {
  margin-top: 1%;
}

div.comment-title {
  margin-bottom: 1%;
}

@font-face {
  font-family: "font-icon";
  src: url("src/fonts/font-icon.woff2");
}

/* CSS NOTE */

/* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
.rating-group {
    display: inline-flex;
  }

  /* make hover effect work properly in IE */
  .rating__icon {
    pointer-events: none;
  }

  /* hide radio inputs */
  .rating__input {
    position: absolute !important;
    left: -9999px !important;
  }

  /* set icon padding and size */
  .rating__label {
    cursor: pointer;
    /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */

    font-size: 2rem;
  }

  /* add padding and positioning to half star labels */
  .rating__label--half {
    padding-right: 0;

    z-index: 2;
  }

  /* set default star color */
  .rating__icon--star {
    color: orange;
  }

  /* set color of none icon when unchecked */
  .rating__icon--none {
    color: #eee;
  }

  /* if none icon is checked, make it red */
  .rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
  }

  /* if any input is checked, make its following siblings grey */
  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

  /* make all stars orange on rating group hover */
  .rating-group:hover .rating__label .rating__icon--star,
  .rating-group:hover .rating__label--half .rating__icon--star {
    color: orange;
  }

  /* make hovered input's following siblings grey on hover */
  .rating__input:hover ~ .rating__label .rating__icon--star,
  .rating__input:hover ~ .rating__label--half .rating__icon--star {
    color: #ddd;
  }

  /* make none icon grey on rating group hover */
  .rating-group:hover
    .rating__input--none:not(:hover)
    + .rating__label
    .rating__icon--none {
    color: #eee;
  }

  /* make none icon red on hover */
  .rating__input--none:hover + .rating__label .rating__icon--none {
    color: red;
  }

 .fa-star-half::before{
  content:"\E05B";
  font-family: "font-icon";
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-star::before{
  content: "\E05C";
  font-family: "font-icon";
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CSS NOTE END */