<div class="container container-vue">
    <div class="row">
        <div class="col-3">
            <img [src]="this.film.lienImage" class="img-thumbnail" />
        </div>
        <div class="col-1"></div>
        <div class="col">
            <div class="row h-100">
                <div class="col">
                    <div class="row">
                        <div class="col-7">
                            <div class="row">
                                <p>{{film.titre}}</p>
                            </div>
                            <div class="row">
                                <p>Durée: {{film.duree}}</p>
                            </div>
                            <div class="row">
                                <p>Date de sortie: {{film.dateSortie}}</p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>Catégories: {{this.getContentValue(film.categories)}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>De: {{this.getContentValue(film.realisateurs)}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>Acteurs: {{this.getContentValue(film.acteurs)}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row h-50"></div>
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col">
                                    <a [href]="film.lienBandeAnnonce" target="_blank">
                                        <button type="button" class="btn btn-secondary btn-lg btnShow">Bande-annonce</button>
                                    </a>
                                </div>
                                <div class="col-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p class="txt-info">Location streaming :</p>
                        <button type="button" class="btn btn-secondary btn-lg btnShow" (click)="streamingLocation()">Louer</button>
                    </div>
                    <div class="col-5"></div>
                    <div class="col-3">
                        <p class="txt-info">Location physique :</p>
                        <a routerLink="/location/{{this.idFilm}}"  routerLinkActive="active">
                            <button type="button" class="btn btn-secondary btn-lg btnShow">Disponibilités</button>
                        </a>
                    </div>
                    <div *ngIf="this.cannotLocate;then errorLoc"></div>
                    <ng-template #errorLoc>
                        <app-error-template class="loc" [printError]="cannotLocate" [errorConnexion]="errorConnexion" [errorMessage]="errorMessage"></app-error-template>
                    </ng-template>
                    <div *ngIf="this.printSuccess;then successLoc"></div>
                    <ng-template #successLoc>
                        <app-success-template class="loc" [printSuccess]="printSuccess" [messageSuccess]="messageSuccess"></app-success-template>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="star_img" *ngFor="let n of [].constructor(nbStarGold); let i = index" src="assets/star.png" />
            <img class="star_img" *ngFor="let n of [].constructor(nbStarBlack); let i = index" src="assets/star_black.png" />
            <p>{{this.commentaires.nbNotes}} vote dont {{this.commentaires.nbCommentaires}} critiques</p>
        </div>
    </div>
    <div class="row option">
        <div class="col block">
            <div class="row">
                <div class="col-4">
                    <h4>Noter</h4>
                </div>
                <div class="col">
                    <div id="half-stars-example">
                        <div class="rating-group">
                            
                            <input class="rating__input rating__input--none" checked name="rating2" id="rating2-0" value="0" type="radio" (click)="setNote(0)">
                            <label aria-label="0 stars" class="rating__label" for="rating2-0">&nbsp;</label>
                            <label aria-label="0.5 stars" class="rating__label rating__label--half" for="rating2-05"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                            <input class="rating__input" name="rating2" id="rating2-05" value="0.5" type="radio" (click)="setNote(0.5)">
                            <label aria-label="1 star" class="rating__label" for="rating2-10"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                            <input class="rating__input" name="rating2" id="rating2-10" value="1" type="radio" (click)="setNote(1)">
                            <label aria-label="1.5 stars" class="rating__label rating__label--half" for="rating2-15"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                            <input class="rating__input" name="rating2" id="rating2-15" value="1.5" type="radio" (click)="setNote(1.5)">
                            <label aria-label="2 stars" class="rating__label" for="rating2-20"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                            <input class="rating__input" name="rating2" id="rating2-20" value="2" type="radio" (click)="setNote(2)">
                            <label aria-label="2.5 stars" class="rating__label rating__label--half" for="rating2-25"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                            <input class="rating__input" name="rating2" id="rating2-25" value="2.5" type="radio" (click)="setNote(2.5)">
                            <label aria-label="3 stars" class="rating__label" for="rating2-30"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                            <input class="rating__input" name="rating2" id="rating2-30" value="3" type="radio" (click)="setNote(3)">
                            <label aria-label="3.5 stars" class="rating__label rating__label--half" for="rating2-35"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                            <input class="rating__input" name="rating2" id="rating2-35" value="3.5" type="radio" (click)="setNote(3.5)">
                            <label aria-label="4 stars" class="rating__label" for="rating2-40"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                            <input class="rating__input" name="rating2" id="rating2-40" value="4" type="radio" (click)="setNote(4)">
                            <label aria-label="4.5 stars" class="rating__label rating__label--half" for="rating2-45"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                            <input class="rating__input" name="rating2" id="rating2-45" value="4.5" type="radio" (click)="setNote(4.5)">
                            <label aria-label="5 stars" class="rating__label" for="rating2-50"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                            <input class="rating__input" name="rating2" id="rating2-50" value="5" type="radio" (click)="setNote(5)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col block center">
            <div class="row">
                <div class="col-2"></div>
                <div class="col">
                    <a class="linkCom" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCommentaire" href="#collapseCommentaire">
                        <h4>Rédiger un commentaire</h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="col block">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <h4>Partager</h4>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="collapse" id="collapseCommentaire">
            <div class="card card-body">
                <h3 class="section">Votre Commentaire: </h3>
                <textarea #comment></textarea>
                <button type="button" class="btn btn-outline-dark btn-lg btnCom" (click)="sendComment(comment.value)">Valider</button>
                <div *ngIf="printError;then error"></div>
                <ng-template #error>
                    <app-error-template [printError]="printError" [errorConnexion]="errorConnexion" [errorMessage]="errorMessage"></app-error-template>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <h3>Synopsis</h3>
            </div>
            <div class="row">
                <p>{{film.synopsis}}</p>
            </div>
        </div>
    </div>
    <div class="row comment">
        <div class="col">
            <div class="row comment-title">
                <h3>Commentaires</h3>
            </div>
            <div class="row commentaire" *ngFor="let commentaire of commentaires.infosCommentaires">
                <div class="col-3">
                    <div class="row">
                        <div class="col-6">
                            <img src="assets/cpt.png" class="img-thumbnail" />
                        </div>
                    </div>
                    <div class="row">
                        <p>{{commentaire.username}}</p>
                    </div>
                    <div class="row">
                        <a href="/commentaire/{{commentaire.idUtil}}">Voir les autres commentaires</a>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-4">
                                    <!-- Adapt with comment's loop -->
                                    <img class="star_img" *ngFor="let n of [].constructor(commentaire.nbStarGold); let i = index" src="assets/star.png" />
                                    <img class="star_img" *ngFor="let n of [].constructor(commentaire.nbStarBlack); let i = index" src="assets/star_black.png" />
                                </div>
                                <div class="col-2">
                                    <p>{{commentaire.valeurNote}}</p>
                                </div>
                                <div class="col">
                                    <p>Publié le {{commentaire.dateCom}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <p>{{commentaire.textCom}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>