<button type="button" class="btn btn-lg" data-bs-toggle="collapse" data-bs-target="#collapseNote" role="button" aria-expanded="false">
    Notes
</button>
<div class="collapse show" id="collapseNote">
    <div class="card card-body">
      <div>
        <input type="checkbox" id="scales" name="scales">
        <label for="scales">
          <!--NOTE 0--> 

          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
        </label>
      </div>
      <div>
        <input type="checkbox" id="scales" name="scales">
        <label for="scales">
           <!--NOTE 0.5--> 

          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
        </label>
      </div>
      <div>
        <input type="checkbox" id="scales" name="scales">
        <label for="scales">
           <!--NOTE 1--> 
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
        </label>
      </div>
      <div>
        <input type="checkbox" id="scales" name="scales">
        <label for="scales">
           <!--NOTE 1.5--> 
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
        </label>
      </div>
      <div>
        <input type="checkbox" id="scales" name="scales">
        <label for="scales">
           <!--NOTE 2--> 
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
        </label>
      </div>
      <div>
        <input type="checkbox" id="scales" name="scales">
        <label for="scales">
           <!--NOTE 2.5--> 
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
        </label>
      </div>
      <div>
        <input type="checkbox" id="scales" name="scales">
        <label for="scales">
           <!--NOTE 3--> 
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
        </label>
      </div>
      <div>
        <input type="checkbox" id="scales" name="scales">
        <label for="scales">
           <!--NOTE 3.5--> 
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
        </label>
      </div>
      <div>
        <input type="checkbox" id="scales" name="scales">
        <label for="scales">
           <!--NOTE 4--> 
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
        </label>
      </div>
      <div>
        <input type="checkbox" id="scales" name="scales">
        <label for="scales">
           <!--NOTE 4.5--> 
          <label class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
        </label>
      </div>
      <div>
        <input type="checkbox" id="scales" name="scales">
        <label for="scales">
           <!--NOTE 5--> 
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label  class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label  class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        </label>
      </div>
    </div>
</div>
