<button type="button" class="btn btn-lg" data-bs-toggle="collapse" data-bs-target="#collapseNote" role="button" aria-expanded="false">
    Notes
</button>
<div class="collapse show" id="collapseNote">
    <div class="card card-body">
      <div>
        <input type="checkbox" id="scale0" name="scales" (change)="filterNote(0)">
        <label for="scale0">
          <!--NOTE 0--> 

          <label for="scale0" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label for="scale0" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label for="scale0" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label for="scale0" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label for="scale0" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label for="scale0" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label for="scale0" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label for="scale0" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label for="scale0" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label for="scale0" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
        </label>
      </div>
      <div>
        <input type="checkbox" id="scale05" name="scales" (change)="filterNote(0.5)">
        <label for="scale05">
           <!--NOTE 0.5--> 

          <label for="scale05" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale05" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label for="scale05" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label for="scale05" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label for="scale05" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label for="scale05" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label for="scale05" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label for="scale05" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label for="scale05" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label for="scale05" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
        </label>
      </div>
      <div>
        <input type="checkbox" id="scale1" name="scales" (change)="filterNote(1)">
        <label for="scale1">
           <!--NOTE 1--> 
          <label for="scale1" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale1" class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label for="scale1" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label for="scale1" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label for="scale1" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label for="scale1" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label for="scale1" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label for="scale1" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label for="scale1" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label for="scale1" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
        </label>
      </div>
      <div>
        <input type="checkbox" id="scale15" name="scales" (change)="filterNote(1.5)">
        <label for="scale15">
           <!--NOTE 1.5--> 
          <label for="scale15" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale15" class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label for="scale15" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale15" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label for="scale15" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label for="scale15" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label for="scale15" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label for="scale15" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label for="scale15" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label for="scale15" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
        </label>
      </div>
      <div>
        <input type="checkbox" id="scale2" name="scales" (change)="filterNote(2)">
        <label for="scale2">
           <!--NOTE 2--> 
          <label for="scale2" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale2" class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label for="scale2" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale2" class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label for="scale2" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label for="scale2" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label for="scale2" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label for="scale2" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label for="scale2" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label for="scale2" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
        </label>
      </div>
      <div>
        <input type="checkbox" id="scale25" name="scales" (change)="filterNote(2.5)">
        <label for="scale25">
           <!--NOTE 2.5--> 
          <label for="scale25" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale25" class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label for="scale25" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale25" class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label for="scale25" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale25" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label for="scale25" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label for="scale25" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label for="scale25" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label for="scale25" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
        </label>
      </div>
      <div>
        <input type="checkbox" id="scale3" name="scales" (change)="filterNote(3)">
        <label for="scale3">
           <!--NOTE 3--> 
          <label for="scale3" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale3" class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label for="scale3" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale3" class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label for="scale3" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale3" class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label for="scale3" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label for="scale3" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label for="scale3" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label for="scale3" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
        </label>
      </div>
      <div>
        <input type="checkbox" id="scale35" name="scales" (change)="filterNote(3.5)">
        <label for="scale35">
           <!--NOTE 3.5--> 
          <label for="scale35" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale35" class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label for="scale35" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale35" class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label for="scale35" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale35" class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label for="scale35" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale35" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
          <label for="scale35" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label for="scale35" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
        </label>
      </div>
      <div>
        <input type="checkbox" id="scale4" name="scales" (change)="filterNote(4)">
        <label for="scale4">
           <!--NOTE 4--> 
          <label for="scale4" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale4" class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label for="scale4" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale4" class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label for="scale4" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale4" class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label for="scale4" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale4" class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label for="scale4" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--none fa fa-star-half"></i></label>
          <label for="scale4" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
        </label>
      </div>
      <div>
        <input type="checkbox" id="scale45" name="scales" (change)="filterNote(4.5)">
        <label for="scale45">
           <!--NOTE 4.5--> 
          <label for="scale45" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale45" class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label for="scale45" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale45" class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label for="scale45" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale45" class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label for="scale45" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale45" class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label for="scale45" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale45" class="rating__label" ><i class="rating__icon rating__icon--none fa fa-star"></i></label>
        </label>
      </div>
      <div>
        <input type="checkbox" id="scale5" name="scales" (change)="filterNote(5)">
        <label for="scale5" onclick="">
           <!--NOTE 5--> 
          <label for="scale5" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale5" class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label for="scale5" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale5" class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label for="scale5" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale5" class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label for="scale5" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale5" class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
          <label for="scale5" class="rating__label rating__label--half" ><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
          <label for="scale5" class="rating__label" ><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        </label>
      </div>
    </div>
</div>
