<div class="container">
    <div class="row mx-0 text-center ">
        <div class="col-12 header"> Profil </div>
        <hr class="hrPerso">
    </div>

    <div class="row">
        <div class="col-5">
            <div class="col-12 subheader"> Mes Informations </div>
            <hr class="hrSubPerso">
        <div class="row mt-4 mb-5 border rounded-3">
            <form class="my-3 ">
                <div class="form-group row my-2">
                <label for="Nom" class="col-sm-3 text-center col-form-label">Nom</label>
                <div class="col-lg-8">
                    <input type="text"  class="form-control" id="Nom" value="">
                </div>
                </div>
                <div class="form-group row my-2">
                <label for="Prenom" class="col-sm-3 text-center col-form-label">Prenom</label>
                <div class="col-lg-8">
                    <input type="text"  class="form-control" id="Prenom" value="">
                </div>
                </div>
                <div class="form-group row my-2">
                    <label for="Adresse" class="col-sm-3 text-center col-form-label">Adresse</label>
                    <div class="col-lg-8">
                        <input type="text"  class="form-control" id="Adresse" value="">
                    </div>
                </div>
                <div class="form-group row my-2">
                  <label for="Email" class="col-sm-3 text-center col-form-label">Email</label>
                  <div class="col-lg-8">
                    <input type="email"  class="form-control" id="Email" value="">
                  </div>
                </div>
                
            </form>
        </div>  
     
        <hr class="hrPerso">

        <div class="row my-5 border rounded-3">
            <form class="my-3">
                <div class="form-group row my-2">
                <label for="Pseudonyme" class="col-sm-3 text-center col-form-label">Pseudonyme</label>
                <div class="col-lg-8">
                    <input type="text"  class="form-control" id="Pseudonyme" value="">
                </div>
                </div>
                <div class="form-group row my-2">
                <label for="Password" class="col-sm-3 text-center col-form-label">Mot de Passe</label>
                <div class="col-lg-8">
                    <input type="text"  class="form-control" id="Password" value="">
                </div>
                </div>

            </form>
        </div>


        </div>
        <div class="col-1"></div>
        <div class="col-6">
            <div class="col-12 subheader"> Mes Locations </div>
            <hr class="hrSubPerso">
        </div>

    </div>





</div>

