<div class="container">
    <div class="row mx-0 text-center ">
        <div class="col-12 header"> Profil </div>
        <hr class="hrPerso">
    </div>

    <div class="row">
        <div class="col-5">
            <div class="col-12 subheader"> Mes Informations </div>
            <hr class="hrSubPerso">
        <div class="row mt-4 mb-5 border rounded-3">
            <form *ngIf="modifInfo ; else unModifInfo" class="my-3 ">
                <div class="form-group row my-2">
                <label for="Nom" class="col-sm-3 text-center col-form-label">Nom</label>
                <div class="col-lg-8">
                    <input type="text"  class="form-control" #Nom id="Nom" value="{{this.user.nom}}">
                </div>
                </div>
                <div class="form-group row my-2">
                <label for="Prenom" class="col-sm-3 text-center col-form-label">Prenom</label>
                <div class="col-lg-8">
                    <input type="text"  class="form-control" #Prenom id="Prenom" value="{{this.user.prenom}}">
                </div>
                </div>
                <div class="form-group row my-2">
                    <label for="Adresse" class="col-sm-3 text-center col-form-label">Adresse</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" #Adresse id="Adresse" value="{{this.user.adresse}}">
                    </div>
                </div>
                <div class="form-group row my-2">
                  <label for="Email" class="col-sm-3 text-center col-form-label">Email</label>
                  <div class="col-lg-8">
                    <input type="email"  class="form-control"  id="Email" value="">
                  </div>
                </div>
                <div class="row text-center">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" (click)="sendInfoUser(Adresse.value, Nom.value, Prenom.value)" class="btn btn-lg btn-outline-secondary mt-4 btnProfil">Envoyer</button>
                    </div>
                    
                    <div class="col-4">
                        <button type="button" (click)="modifInfoUser()" class="btn btn-lg btn-outline-secondary mt-4 btnProfil">Annuler</button>
                    </div>
                    <div class="col-2"></div>
                </div>
                
                <div *ngIf="cannotSend;then error"></div>
                <ng-template #error>
                    <app-error-template [printError]="cannotSend" [errorConnexion]="errorConnexion" [errorMessage]="errorMessage"></app-error-template>
                </ng-template>

            </form>
            <ng-template #unModifInfo>
                <form class="my-3 ">
                    <div class="form-group row my-2">
                    <label for="Nom" class="col-sm-3 text-center col-form-label">Nom</label>
                    <div class="col-lg-8">
                        <input type="text"  class="form-control" disabled id="Nom" value="{{this.user.nom}}">
                    </div>
                    </div>
                    <div class="form-group row my-2">
                    <label for="Prenom" class="col-sm-3 text-center col-form-label">Prenom</label>
                    <div class="col-lg-8">
                        <input type="text"  class="form-control" disabled id="Prenom" value="{{this.user.prenom}}">
                    </div>
                    </div>
                    <div class="form-group row my-2">
                        <label for="Adresse" class="col-sm-3 text-center col-form-label">Adresse</label>
                        <div class="col-lg-8">
                            <input type="text"  class="form-control" disabled id="Adresse" value="{{this.user.adresse}}">
                        </div>
                    </div>
                    <div class="form-group row my-2">
                    <label for="Email" class="col-sm-3 text-center col-form-label">Email</label>
                    <div class="col-lg-8">
                        <input type="email"  class="form-control" disabled id="Email" value="">
                    </div>
                    </div>
                    <div class="text-center">
                        <button type="button" (click)="modifInfoUser()" class="btn btn-lg btn-outline-secondary mt-4 btnProfil">Modifier</button>
                    </div>
                    <div *ngIf="cannotSend;then error"></div>
                    <ng-template #error>
                      <app-error-template [printError]="cannotSend" [errorConnexion]="errorConnexion" [errorMessage]="errorMessage"></app-error-template>
                    </ng-template>
                </form>
            </ng-template>
            
        </div>  
     
        <hr class="hrPerso">

        <div class="row my-5 border rounded-3">
            <form *ngIf="modifPass ; else unModifPass" class="my-3">
                <div class="form-group row my-2">
                <label for="Pseudonyme" class="col-sm-3 text-center col-form-label">Pseudonyme</label>
                <div class="col-lg-8">
                    <input type="text"  class="form-control" #Pseudo id="Pseudonyme" value="{{this.user.pseudonyme}}">
                </div>
                </div>
                <div class="form-group row my-2">
                <label for="Password" class="col-sm-3 text-center col-form-label">Mot de Passe</label>
                <div class="col-lg-8">
                    <input type="password"  class="form-control" #Pass id="Password" value="{{this.user.motDePasse}}">
                </div>
                </div>
                <div class="row text-center">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button type="button" (click)="sendInfoPass(Pseudo.value,Pass.value)" class="btn btn-lg btn-outline-secondary mt-4 btnProfil">Envoyer</button>
                    </div>
                    
                    <div class="col-4">
                        <button type="button" (click)="modifInfoPass()" class="btn btn-lg btn-outline-secondary mt-4 btnProfil">Annuler</button>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div *ngIf="cannotSendPass;then errorPass"></div>
                <ng-template #errorPass>
                    <app-error-template [printError]="cannotSendPass" [errorConnexion]="errorConnexion" [errorMessage]="errorMessage"></app-error-template>
                </ng-template>

            </form>
            <ng-template #unModifPass>
                <form class="my-3">
                    <div class="form-group row my-2">
                    <label for="Pseudonyme" class="col-sm-3 text-center col-form-label">Pseudonyme</label>
                    <div class="col-lg-8">
                        <input type="text"  class="form-control" id="Pseudonyme" disabled value="{{this.user.pseudonyme}}">
                    </div>
                    </div>
                    <div class="form-group row my-2">
                    <label for="Password" class="col-sm-3 text-center col-form-label">Mot de Passe</label>
                    <div class="col-lg-8">
                        <input type="password"  class="form-control" id="Password" disabled value="{{this.user.motDePasse}}">
                    </div>
                    </div>
                    <div class="text-center">
                        <button type="button" (click)="modifInfoPass()" class="btn btn-lg btn-outline-secondary mt-4 btnProfil">Modifier</button>
                    </div>
                    <div *ngIf="cannotSendPass;then errorPass"></div>
                    <ng-template #errorPass>
                        <app-error-template [printError]="cannotSendPass" [errorConnexion]="errorConnexion" [errorMessage]="errorMessage"></app-error-template>
                    </ng-template>

                </form>
            </ng-template>
        </div>


        </div>
        <div class="col-1"></div>
        <div class="col-6">
            <div class="col-12 subheader"> Mes Locations </div>
            <hr class="hrSubPerso">

            <div class="accordion mb-3" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span class="text-center w-100 customCollapse"> Locations à venir </span>
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">



                        <div class="accordion" id="accordionExampleOne">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOneOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneOne" aria-expanded="true" aria-controls="collapseOneOne">
                                  Locations physique
                                </button>
                              </h2>
                              <div id="collapseOneOne" class="accordion-collapse collapse " aria-labelledby="headingOneOne" data-bs-parent="#accordionExampleOne">
                                <div class="accordion-body overflow-auto location">
                                  <div *ngIf="films.filmsPhysique.LocPhysiqueCome.length != 0; else elseOneOne">
                                    <div *ngFor="let film of films.filmsPhysique.LocPhysiqueCome" class="row">
                                        <div class="col-4">
                                          <img class="img-thumbnail" src="{{film.affiche}}">
                                        </div>
                                        <div class="col-8 my-3 align-self-center">
                                            <div class="row my-2">
                                              <div class ="col fw-bolder fst-italic">
                                                {{film.titre}}
                                              </div>
                                            </div>
                                            <div class="row mt-2">
                                              <div class="col-5 fw-bolder" >
                                                Date de location
                                              </div>
                                              <div class="col-7">
                                                {{film.dateDeLocation}}
                                              </div>
                                            </div>
                                            <div class="row my-2">
                                              <div class="col-5 fw-bolder">
                                                Film rendu
                                              </div>
                                              <div class="col-7">
                                                {{film.estRendu ? "Oui" : "Non"}}
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                  <ng-template #elseOneOne>
                                    <div class="text-center">Aucune location</div>
                                  </ng-template>
                                </div>
                              </div>
                            </div>

                          </div>

                        
                      </div>
                    </div>
                  </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                      <span class="text-center w-100 customCollapse"> Locations en cours </span>
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse " aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    
                      <div class="accordion" id="accordionExampleOne">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingTwoOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoOne" aria-expanded="true" aria-controls="collapseTwoOne">
                              Locations physique
                            </button>
                          </h2>
                          <div id="collapseTwoOne" class="accordion-collapse collapse " aria-labelledby="headingTwoOne" data-bs-parent="#accordionExampleOne">
                            <div class="accordion-body overflow-auto location">
                                <div *ngIf="films.filmsPhysique.LocPhysiqueNow.length != 0; else elseTwoOne">
                                  <div *ngFor="let film of films.filmsPhysique.LocPhysiqueNow" class="row">
                                    <div class="col-4">
                                      <img class="img-thumbnail" src="{{film.affiche}}">
                                    </div>
                                    <div class="col-8 my-3 align-self-center">
                                      <div class="row my-2">
                                        <div class ="col fw-bolder fst-italic">
                                          {{film.titre}}
                                        </div>
                                      </div>
                                      <div class="row mt-2">
                                        <div class="col-5 fw-bolder" >
                                          Date de location
                                        </div>
                                        <div class="col-7">
                                          {{film.dateDeLocation}}
                                        </div>
                                      </div>
                                      <div class="row my-2">
                                        <div class="col-5 fw-bolder">
                                          Film rendu
                                        </div>
                                        <div class="col-7">
                                          {{film.estRendu ? "Oui" : "Non"}}
                                        </div>
                                      </div>
                                  </div>
                                  </div>
                                </div>
                              <ng-template #elseTwoOne>
                                <div class="text-center">Aucune location</div>
                              </ng-template>
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingTwoTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoTwo" aria-expanded="false" aria-controls="collapseTwoTwo">
                              Locations streaming
                            </button>
                          </h2>
                          <div id="collapseTwoTwo" class="accordion-collapse collapse" aria-labelledby="headingTwoTwo" data-bs-parent="#accordionExampleOne">
                            <div class="accordion-body overflow-auto location">
                              <div *ngIf="films.filmsStreaming.LocStreamingNow.length != 0; else elseTwoTwo">
                                <div *ngFor="let film of films.filmsStreaming.LocStreamingNow" class="row">
                                    <div class="col-4">
                                      <img class="img-thumbnail" src="{{film.affiche}}">
                                    </div>
                                    <div class="col-8 my-3 align-self-center">
                                      <div class="row my-2">
                                        <div class ="col fw-bolder fst-italic">
                                          {{film.titre}}
                                        </div>
                                      </div>
                                      <div class="row mt-2">
                                        <div class="col-6 fw-bolder" >
                                          Date de location
                                        </div>
                                        <div class="col-6">
                                          {{film.dateDeLocation}}
                                        </div>
                                      </div>
                                      <div class="row mt-2">
                                        <div class="col-6 fw-bolder" >
                                          Durée de location
                                        </div>
                                        <div class="col-6">
                                          {{film.duree}}
                                        </div>
                                      </div>
                                      <div class="row my-2">
                                        <div class ="col text-center">
                                          <button type="button" routerLink="/streaming" class="btn btn-lg btn-outline-secondary mt-3 btnRegarder">Regarder</button>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                                <ng-template #elseTwoTwo>
                                  <div class="text-center">Aucune location</div>
                                </ng-template>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <span class="text-center w-100 customCollapse">Mes anciennes locations</span>
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      
                      <div class="accordion" id="accordionExampleOne">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingThreeOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeOne" aria-expanded="true" aria-controls="collapseThreeOne">
                              Locations physique
                            </button>
                          </h2>
                          <div id="collapseThreeOne" class="accordion-collapse collapse " aria-labelledby="headingThreeOne" data-bs-parent="#accordionExampleOne">
                            <div class="accordion-body overflow-auto location">
                              <div *ngIf="films.filmsPhysique.LocPhysiqueOlder.length != 0; else elseThreeOne">
                              <div *ngFor="let film of films.filmsPhysique.LocPhysiqueOlder" class="row">
                                  <div class="col-4">
                                    <img class="img-thumbnail" src="{{film.affiche}}">
                                  </div>
                                  <div class="col-8 my-3 align-self-center">
                                    <div class="row my-2">
                                      <div class ="col fw-bolder fst-italic">
                                        {{film.titre}}
                                      </div>
                                    </div>
                                    <div class="row mt-2">
                                      <div class="col-5 fw-bolder" >
                                        Date de location
                                      </div>
                                      <div class="col-7">
                                        {{film.dateDeLocation}}
                                      </div>
                                    </div>
                                    <div class="row my-2">
                                      <div class="col-5 fw-bolder">
                                        Film rendu
                                      </div>
                                      <div class="col-7">
                                        {{film.estRendu ? "Oui" : "Non"}}
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                              <ng-template #elseThreeOne>
                                <div class="text-center">Aucune location</div>
                              </ng-template>
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingThreeTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeTwo" aria-expanded="false" aria-controls="collapseThreeTwo">
                              Locations streaming
                            </button>
                          </h2>
                          <div id="collapseThreeTwo" class="accordion-collapse collapse" aria-labelledby="headingThreeTwo" data-bs-parent="#accordionExampleOne">
                            <div class="accordion-body overflow-auto location">
                              <div *ngIf="films.filmsStreaming.LocStreamingOlder.length != 0; else elseThreeTwo">  
                              <div *ngFor="let film of films.filmsStreaming.LocStreamingOlder" class="row">
                                    <div class="col-4">
                                      <img class="img-thumbnail" src="{{film.affiche}}">
                                    </div>
                                    <div class="col-8 my-3 align-self-center">
                                      <div class="row my-2">
                                        <div class ="col fw-bolder fst-italic">
                                          {{film.titre}}
                                        </div>
                                      </div>
                                      <div class="row mt-2">
                                        <div class="col-5 fw-bolder" >
                                          Date de location
                                        </div>
                                        <div class="col-7">
                                          {{film.dateDeLocation}}
                                        </div>
                                      </div>
                                    </div>
                                </div>
                              </div>
                                <ng-template #elseThreeTwo>
                                  <div class="text-center">Aucune location</div>
                                </ng-template>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>


        </div>
    </div>





</div>

