<form id="connexion-block">
    <div id="title-form">
        <h2 class="text-center">Connectez-vous</h2>
    </div>
    <div id="form-elem">
        <div class="form-group">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nom d'utilisateur">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Mot de passe">
            </div>
            <small class="form-text text-muted text-center">Mot de passe oublié ?</small>
        </div>
    </div>
    <div class="form-group text-center">
        <button type="button" class="btn btn-secondary btn-lg">Connexion</button>
        <p class="font-weight-light">
            Pas de compte ?
            <a routerLink="/compte/inscription"  routerLinkActive="active">Inscrivez-vous</a>
        </p>
    </div>
</form>