<form id="connexion-block">
    <div id="title-form">
        <h2 class="text-center">Connectez-vous</h2>
    </div>
    <div id="form-elem">
        <div class="form-group">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nom d'utilisateur" #login>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Mot de passe" #password>
            </div>
            <small class="form-text text-muted text-center">Mot de passe oublié ?</small>
        </div>
        
        <div *ngIf="!cannotConnect;else errorConnect">
            <div class="row m-4"></div>
        </div>
        <ng-template #errorConnect>
            <app-error-template [printError]="cannotConnect" [errorConnexion]="errorConnexion" [errorMessage]="errorMessage"></app-error-template>
        </ng-template>
        

    </div>
    <div class="form-group text-center mt-3">
        <button type="button" class="btn btn-outline-dark btn-lg btnco" (click)="connexion(login.value, password.value)">Connexion</button>
        <p class="font-weight-light">
            Pas de compte ?
            <a routerLink="/compte/inscription"  routerLinkActive="active">Inscrivez-vous</a>
        </p>
    </div>
</form>